html {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.input-container {
  margin-bottom: 20px;
  align-content: center;
  align-items: center;
}

.input-container label {
  display: block;
  color: #100f0f;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
   1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  text-align: center;
}

.input-container input {
  width: 200px;
  padding: 5px;
  border: 2px solid;
  border-radius: 12px;
  border-color: white;
  display: block;
}

button {
  padding: 8px 16px;
  background-color: #454a45;
  cursor: pointer;
  border: 2px solid;
  border-radius: 12px;
  border-color: white;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #282a29;
}

#graph-container {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3, a {
  color: #131111;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
   1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#error-div {
  color: black;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
   1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  text-align: center;
  font-size: 24px;
  margin: 10px;
  font-family: Arial, sans-serif;
}

#back-button {
    position: fixed;
    left: 0;
    top: 0;
}

#maker-text {
  background-color: #a42da4;
  border-radius: 10px;
  padding: 2px;
  width: 220px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: courier;
  text-align: center;
  text-decoration: none;
}